.iine {
    margin-top: 2em;
    border: #b0b0b0 1px solid;
    padding: 0.5em;
}
.iine .iine-lead {
    display: table-cell;
    padding-right: 0.5em;
    text-indent: 0;
}
.iine .iine-button {
    display: table-cell;
}
.iine .iine-button .icon {
}
.iine .iine-button .number {
    position: relative;
    border: #278dbf 1px solid;
    border-radius: 20%;
    margin: 0.5em;
    padding: 0 5px;
}
/* https://cssarrowplease.com */
.iine .iine-button .number:after, .iine .iine-button .number:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.iine .iine-button .number:after {
	border-color: #rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 4px;
	margin-top:  -4px;
}
.iine .iine-button .number:before {
	border-color: rgba(155, 180, 196, 0);
	border-right-color: #278dbf;
	border-width: 5px;
	margin-top:  -5px;
}
